*.log
boot.iso
logs/
mocker-*
ovirt-node-ng.spec
ovirt-node-ng-image.squashfs.img
tmp.repos/*
INSTALL
Makefile.in
/Makefile
/src/Makefile
aclocal.m4
autom4te.cache
config.log
config.status
configure
install-sh
missing
build/
installed-squashfs-domain.xml
*.gz
py-compile
*.pyc
data/ovirt-node-ng-image.ks
release
src/nodectl/config.py
