livemedia.log
program.log
virt-install.log
boot.iso
logs/
mocker-*
ovirt-node-ng.spec
ovirt-node-ng.squashfs.img
tmp.repos/*
INSTALL
Makefile.in
Makefile
aclocal.m4
autom4te.cache
config.log
config.status
configure
install-sh
missing
